.cta {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta .cta-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta .cta-content .cta-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transform: scale(0);
}
.cta .cta-content .cta-copy {
  margin: 1.5rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1.5rem;
}
.cta .cta-content .cta-copy .line-mask {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cta .cta-content .cta-copy .line {
  position: relative;
  will-change: transform;
  color: var(--base-200);
}
.cta .cta-row {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0.75rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  pointer-events: none;
}
.cta .cta-row .cta-card {
  position: relative;
  flex: 1;
  height: 360px;
  border-radius: 0.75em;
  will-change: transform;
  overflow: hidden;
  filter: url("#goo");
}
.cta .cta-row .cta-card .cta-card-frame {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-300);
  filter: url("#goo");
  clip-path: polygon(
    2rem 0px,
    calc(100% - 2rem) 0px,
    100% 2rem,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    2rem 100%,
    0px calc(100% - 2rem),
    0px 2rem
  );
}

.cta .cta-row .cta-card .cta-card-frame .cta-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cta .cta-row .cta-card .cta-card-frame .cta-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta .cta-row .cta-card .cta-card-frame .cta-card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
@media (max-width: 1000px) {
  .hero .hero-container .hero-img-container,
  .cta .cta-row .cta-card .cta-card-frame {
    clip-path: none;
  }

  .hero .hero-container .hero-img-container .hero-img-overlay {
    display: none;
  }

  .hero .hero-container .hero-content .container {
    padding: 6rem 1rem 4rem 1rem;
    align-items: center;
    text-align: center;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-nav
    div:nth-child(1),
  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    .hero-footer-copy
    p {
    width: 90%;
    margin: 0 auto;
  }

  .hero
    .hero-container
    .hero-content
    .container
    .hero-content-footer
    .hero-callout {
    display: none;
  }

  .intro .container .stats-container {
    flex-direction: column;
  }

  .intro .container {
    padding: 1rem;
  }

  .intro .container .intro-header {
    width: 75%;
  }

  .intro .container .intro-copy .intro-copy-wrapper {
    width: 100%;
  }

  .featured-missions {
    padding: 8rem 1rem;
  }

  .featured-missions .featured-missions-list {
    width: 100%;
    gap: 4.5rem;
  }

  .cta .cta-row .cta-card {
    height: 200px;
    border-radius: 0.5rem;
    opacity: 0;
  }

  .cta .cta-row .cta-card .cta-card-frame .cta-card-gradient {
    display: none;
  }

  .cta .cta-content .cta-copy {
    width: 100%;
  }
}
