@import "tailwindcss";

:root {
  --base-100: #f2eeda;
  --base-200: #8c8a7f;
  --base-300: #262626;
  --base-400: #141414;
  --base-500: #ee6436;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--base-400);
  color: var(--base-100);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3 {
  text-transform: uppercase;

  font-weight: 500;
  line-height: 0.85;
}

h1 {
  font-size: clamp(4rem, 7vw, 8rem);
  letter-spacing: clamp(-0.05rem, -1vw, -0.15rem);
}

h2 {
  font-size: clamp(3rem, 5vw, 8rem);
  letter-spacing: clamp(-0.025rem, -0.75vw, -0.1rem);
}

h3 {
  font-size: clamp(2.5rem, 4.5vw, 5rem);
  letter-spacing: clamp(0rem, -0.5vw, -0.075rem);
}

a,
p {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--base-100);
  font-weight: 500;
  line-height: 1;
}

a,
p {
  font-size: clamp(0.5rem, 0.7vw, 0.85rem);
}

a.md,
p.md {
  font-size: clamp(1rem, 0.8vw, 1.25rem);
}

a.lg,
p.lg {
  font-size: clamp(1.1rem, 0.85vw, 1.35rem);
}

p.bodyCopy {
  text-transform: none;
  font-weight: 450;
  line-height: 1.1;
}

p.bodyCopy {
  font-size: clamp(1.125rem, 0.75vw, 1.25rem);
}

p.bodyCopy.md {
  font-size: clamp(1.25rem, 0.85vw, 1.35rem);
}

p.bodyCopy.lg {
  font-size: clamp(1.375rem, 0.95vw, 1.45rem);
}

.container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  max-width: 2000px;
  margin: 0 auto;
}

.line {
  position: relative;
  will-change: transform;
}

.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.transition-block {
  position: absolute;
  background-color: var(--base-400);
  opacity: 0;
}
